.main-wrapper {
    margin-top: 40px;
}

.excel-upload-form .form-control {
    height: 100%;
}

.algorithm-block input {
  margin-top: 5px
}
.table.table-striped {
    margin-top: 20px;
}

.good-result, .error-result {
    text-align: center;
    background-color: rgba(80, 183, 80, 0.68);
    font-size: 17px;
    padding: 5px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.error-result {
    background-color: rgba(183, 80, 80, 0.6);
}

.delete-form {
    display: inline;
}

.file-details-block .btn {
    width: 49%;
}

.file-details-block input.btn {
    float: right;
}

.algorithm-block {
    margin-top: 35px;
}