{% extends 'dashboard/base.html' %}

{% block content %}

<h4>{{ project.title }}</h4>
<hr>
  <form action="/dashboard/upload-file/" class="excel-upload-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" class="excel-upload-form">
      <div class="col-md-4"><input type="text" name="title" class="form-control" placeholder="File Name" required></div>
      <div class="col-md-4"><input type="file" name="file" class="form-control" required></div>
      <input type="hidden" name="project_id" value="{{ project.id }}">
      <input type="hidden" name="type" value="algorithm_file">
      <div class="col-md-4"><input type="submit" value="Upload" class="btn btn-primary form-control"></div>
    </div>
  </form>

  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for algorithm in algorithms %}
          <tr>
            <th scope="row">{{ algorithm.id }}</th>
            <td>{{ algorithm.title }}</td>
            <td>{{ algorithm.date }}</td>
            <td><a class="btn btn-success btn-sm" href="/dashboard/algorithm/{{ algorithm.id }}/{{ project.id }}">Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


{% endblock %}

